@reference "../../../globals.css";



.new-arrivals {
    @apply  py-[48px] pl-8 md:!pl-8 lg:!pl-[128px] relative;
}

@media screen and (min-width: 425px) {
  .new-arrivals {
    @apply pl-[56px];
  }
}
.new-arrivals .prod-list__scrollable{
    @apply flex flex-row gap-6 pb-[48px] overflow-x-scroll pr-8 lg:pr-[128px];
}

.prod-list__scrollable::-webkit-scrollbar {
  height: 4px;
       
}

.prod-list__scrollable::-webkit-scrollbar-track {
  background: #e5e7eb;     
  border-radius: 100px;
}

.prod-list__scrollable::-webkit-scrollbar-thumb {
  background: #343839;   
  border-radius: 100px;
}

.prod-list__scrollable::-webkit-scrollbar:hover, .prod-list__scrollable::-webkit-scrollbar-track:hover, .prod-list__scrollable::-webkit-scrollbar-thumb:hover{
  cursor: pointer;
}

.title-breadscrumbs {
  @apply flex flex-row justify-between;
}