@import "tailwindcss";


:root {
  /*colors*/
  --background: #ffffff;
  --foreground: #171717;
  --primary: #000000;
  --secondary-blue: #377DFF;
  --secondary-green: #38CB89;
  --secondary-orange: #FFAB00;
  --secondary-red: #FF5630;
  --neutral-1:#FEFEFE;
  --neutral-2:#F3F5F7;
  --neutral-3:#E8ECEF;
  --neutral-4:#6C7275;
  --neutral-5:#343839;
  --neutral-6:#232627;
  --neutral-7:#141718;

  /*font-sizes*/
  --fs-hero: 96px;
  --fs-h1: 80px;
  --fs-h2: 72px;
  --fs-h3: 54px;
  --fs-h4: 40px;
  --fs-h5: 34px;
  --fs-h6: 28px;
  --fs-h7: 20px;


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/
html::-webkit-scrollbar {
  width: 12px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
/*
body::-webkit-scrollbar {
  z-index: 8;
  width: 10px;;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 10px;
}
body::-webkit-scrollbar-button {
  background-color: var(--background);
  color: var(--foreground)
}*/



/* Chrome, Edge, Safari */
html::-webkit-scrollbar {
  width: 0px;
}

html::-webkit-scrollbar-track {
  background: #d85050;
}

html::-webkit-scrollbar-thumb {
  background: #df8c8c;
  border-radius: 9999px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #ea0c0c;
}

/*globals button size*/
.btn-xlarge { @apply w-[178px] h-[38px] text-[26px]} 
.btn-large { @apply w-[136px] h-[34px] text-[22px]}
.btn-medium { @apply w-[127px] h-[32px] text-[18px]}
.btn-small { @apply w-[98px] h-[28px] text-[16px]}
.btn-xsmall { @apply w-[94px] h-[24px] text-[14px]}


@media (max-width: 768px) {
  html::-webkit-scrollbar {
  width: 0px;
}
}