@reference "../globals.css";

/*------header styling-------*/

/*breadcrumbs*/
#page-header {
    @apply flex flex-col overflow-hidden pt-4 pb-10 gap-10 lg:p-0
}

#page-header .breadcrumbs {
    @apply pl-8 flex flex-row text-[12px] text-[var(--primary)]/60 lg:hidden;
    font-family: var(--font-inter);
    >span {
        @apply text-[12px] flex flex-row items-center justify-center;
    } 
}
/*breadcrumbs*/

#page-header header {
    @apply flex flex-col gap-6 px-8 ;
}
#page-header header h2 {
    @apply text-[44px] text-center;
}

/*process steps styling*/



/*-----main-------*/

main {
    @apply max-w-[1200px]  flex flex-col flex-none px-8 md:items-center lg:items-stretch lg:pt-[80px] lg:flex-row md:gap-[64px];
}


/*--product table header*/
main .product-table{
    @apply pb-6 md:pb-0 sm:w-[auto];
}

main .product-table__body{
    @apply overflow-y-scroll;
    max-height: calc(495px - 49px);
}

main .product-table__body::-webkit-scrollbar {
    @apply ml-[20px] w-4  
}
main .product-table__body::-webkit-scrollbar-track {
    @apply ml-[20px] w-2 bg-[transparent] 
}
main .product-table__body::-webkit-scrollbar-thumb {
    @apply ml-[20px] w-2 bg-[var(--neutral-4)] ;
    border: 6px solid transparent;
    border-radius: 88px;
    background-clip: content-box;
}

main .product-table .product-table__header{
    @apply w-full flex pb-6 border-b-1 border-b-[var(--neutral-4)] justify-between font-semibold lg:w-[643px] ;
    font-family: var(--font-inter)
}
main .product-table .product-table__header .col__sg {
    @apply w-[252] md:w-[322px] md:w-[523px] flex flex-row justify-between ;
    >* {
        @apply hidden lg:block
    }
}
/*--product table body*/

form.product-cart__summary {
    @apply  min-w-[312px] h-[fit-content] md:w-[583px] p-4 flex flex-col flex-none gap-4 border-1 border-[var(--neutral-4)] rounded-[6px] lg:w-[312px]  lg:p-6 xl:w-[413px];
}
form.product-cart__summary h2 {
    @apply text-[20px];
}
form.product-cart__summary .summary-delivery{
    @apply flex flex-col gap-3 pb-4;
}
.summary-delivery__choice {
    @apply flex flex-row justify-between items-center px-4 py-[13px] border-1 border-[var(--neutral-7)]/90 rounded-[4px];
    font-family: var(--font-inter);
}
.summary-deliver__choice:focus-within {
    @apply bg-[var(--neutral-2)]
}
.summary-delivery__choice .inpt-radio__group {
    @apply flex flex-row gap-3 items-center;
    >input[type="radio"] {
        @apply relative appearance-none outline-none w-[18px] h-[18px] p-1 grid place-content-center aspect-[1] cursor-pointer border-1 border-[black]/900 rounded-full bg-[transparent]   
    }
    >input[type="radio"]::after {
        @apply content-[""] w-full h-full scale-0 opacity-0 absolute rounded-[inherit] bg-[black];
        transition: opacity 150ms ease-in-out;
        transition: scale 150ms ease-in-out;
    }
    >input[type="radio"]:hover::after {
        @apply opacity-[.5] scale-[.75];
    }
    >input[type="radio"]:checked:after {
        @apply opacity-[1] scale-[.75]
    }
}
.summary-delivery__choice .inpt-radio__group:focus-within {
    @apply font-semibold;
}
.fields{
    @apply pb-4;
}
.fields .fields__subtotal,.fields .fields__total {
    @apply py-[13px] flex flex-row justify-between flex-1 items-center;
    font-family: var(--font-inter);
    >p:nth-child(2) {
        @apply font-semibold
    }
}
form.product-cart__summary button {
    @apply py-[10px] px-[26px] rounded-[8px] bg-[var(--neutral-7)] text-white text-[18px];
    font-family: var(--font-inter);
}