@reference "../../../globals.css";


.cart-content {
    @apply p-6 box-border flex flex-col bg-[var(--neutral-1)]
}


/*----------cart summary-----------*/

/*cart summary headline*/
.summary__items-headline {
    @apply flex justify-between items-center h-[34px]
}
.summary__items-headline > h5 {
    @apply text-[var(--primary)]/90
}
.summary__items-headline > button >span{
    @apply w-[24px] h-[24px] text-[24px] text-black;
}


/*summary item list*/
.items-list {
    @apply w-full  overflow-auto flex flex-col gap-4 h-[386px];
}
@media screen and (min-height: 668px) {
    .items-list {
        @apply h-[528px]
    }
}
@media screen and (min-height: 920px) {
    .items-list {
        @apply h-[658px]
    }
}


.items-list::-webkit-scrollbar {
    @apply w-[4px];

}
.items-list::-webkit-scrollbar-thumb {
    @apply rounded-[4px] bg-[var(--neutral-4)]

}
/*summary counts*/
.summary__counts {
    @apply  flex flex-col text-black;
    font-family: var(--font-inter);
}
.summary__counts .fields{
    @apply flex-1 flex flex-col
}
.summary__counts .buttons {
    @apply flex flex-col flex-1 
}
.summary__counts .fields .fields__subtotal, .summary__counts .fields .fields__total {
    @apply flex flex-row justify-between items-center;
}

.fields__subtotal {
    @apply border-b border-b-[2px] border-b-[var(--neutral-3)];
    >.number {
        @apply text-[1rem] font-semibold

    }
}
.fields__total {
    @apply text-[20px];
    font-family: var(--font-poppins);
}
.buttons {
    @apply gap-4
}
.summary__counts .buttons a.buttons__checkout > p {
   @apply py-[10px] px-[26px]
}

.buttons .buttons__checkout {
    @apply rounded-[6px] flex justify-center items-center  bg-[var(--neutral-7)] text-[18px] text-white;
}

.buttons *:not(.buttons__checkout) {
    @apply flex justify-center items-end; 
    >p {
        @apply border-b-[2px] border-b-black;
    }
}




@media screen and (min-width:768px) {
    .cart .cart-content {
        @apply w-[413px];
    }
}