@reference "../../../globals.css";



.process-steps {
    @apply flex flex-row gap-8 md:justify-center;
}

 .process-steps .process {
    @apply max-sm:w-[256px] lg:w-[256px] flex-none flex flex-row gap-6 pb-[26px] border-b-[2px];
    font-family: var(--font-inter);

}
 .process-steps .process.incomplete {
    @apply border-b-0 opacity-[.5];
}
 .process-steps .process .process__name {
    @apply flex items-center font-semibold ;
}
 .process-steps .process .process__no {
    @apply w-[42px] h-[42px] px-[17px] py-2 flex items-center bg-[#23262F] text-white rounded-full
}