.products_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,335px));
    gap:1em;
}

@media (max-width: 1600px) {
    .products_grid{
    grid-template-columns: repeat(auto-fit, minmax(255px, 285px));
}
}

@media (max-width: 1400px) {
    .products_grid{
    grid-template-columns: repeat(auto-fit, minmax(240px, 255px));
}
}

@media (max-width: 1220px) {
    .products_grid{
    grid-template-columns: repeat(auto-fit, minmax(200px, 214px));
}
}

@media (max-width: 1023px) {
    .products_grid{
    grid-template-columns: repeat(auto-fit, minmax(145px,145px));
}
}

@media (max-width: 767px) {
    .products_grid{
    grid-template-columns: repeat(auto-fit, minmax(167px, 167px));
    justify-content: center;
}
}

@media (max-width: 639px) {
    .products_grid{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
}
