@reference "../../globals.css";

.reviews-section{
     @apply px-[200px] py-[50px];
}

.divider,
.comment-divider {
  @apply w-full h-px bg-[#ddd] border-0;
}

.upper-reviews h2 {
  @apply text-[28px] font-medium my-[20px];
}

.prod-name {
  @apply text-[16px] font-semibold ml-[15%];
}

.reviews-section .reviews {
  @apply text-[12px] mb-[10px] flex gap-[10px];
}

.reviews-form {
  @apply py-[25px];
}

.filter-reviews {
  @apply flex justify-between;
}

.total-reviews {
  @apply text-[28px] font-medium;
}

.dropdown {
  @apply text-[16px] font-semibold;
}

.dropdown select {
  @apply text-[16px] font-semibold w-[256px] h-[48px]
         px-4 py-2 border-2 border-[#E8ECEF] rounded-lg
         bg-white cursor-pointer;
}

.comment-up {
  @apply flex gap-[40px];
}

.comment-card {
  @apply my-[24px];
}

.comment-info {
  @apply flex flex-col;
}

.comment-info .reviewer-name {
  @apply mb-[10px] text-[20px] font-semibold;
}

.profile-pic img {
  @apply w-[72px] h-[72px] rounded-full;
}

.comment-down {
  @apply pl-[115px];
}

.comment {
  @apply text-justify text-[16px] font-normal text-[#353945] leading-[26px];
}

.load-btn {
  @apply w-[158px] h-[40px] border border-[#141718] rounded-full
         text-[16px] font-medium bg-white text-[#141718]
         cursor-pointer transition-all duration-200 block mx-auto my-[24px];
}

.load-btn:hover {
  @apply bg-[#141718] text-white;
}

.reviews-section i{
  color:black;
}

/*Large laptops */
@media (max-width: 1368px) {
  .reviews-section {
    padding: 40px 50px;
  }
}

/*Laptop*/
@media (max-width: 992px) {
  .reviews-section {
    padding: 35px 40px;
  }
}

/*Tablet*/
@media (max-width: 768px) {
  .reviews-section {
    padding: 30px 40px;
  }

  .filter-reviews{
    display:block;
    gap:10px;
  }

  .dropdown select{
    margin:20px 0px ;
    width:100%;
  }

  .comment-down{
    padding-left:0px;
    margin-top:15px;
    }

    .input-wrapper button{
        width:32px;
        height:32px;
        border-radius:100px;
        padding:4px;
    }
}

/*Phones*/
@media (max-width: 375px) {
  .reviews-section {
    padding: 20px 20px;
  }
}

