

#prodscroll .swiper {
  width: 100%;
  height: 100%;
}

#prodscroll .swiper-slide {
  display: block;
}

#prodscroll .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
