.service_section {
    display: flex;
    height: auto;
    padding: 0% 12%;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Desktop: 4 per row */
    width: 100%;
    background-color: white;
    color: black;
    gap: 24px;
}

.card {
    display: block;
    background-color: #F3F5F7;
    max-width: 272px;
    border-radius: 20px;
    align-content: center;
    text-align: start;
    padding: 48px 32px;

}

div.Image {
    color: #31393B;
}

h3 {
    padding-top: 16px;
    font-size: 20px;
    color: #31393B;
}

.desc {
    padding-top: 10px;
    color: #6C7275;
}

@media screen and (max-width: 768px) {
    /*.cards-container {
        display: grid;
        place-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        width: 100%;
        background-color: white;
        color: black;
        gap: 24px;
    }*/

}

@media (max-width: 1023px) {
    .cards-container {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
    }
  }

  @media (max-width: 600px) {
    .cards-container {
      grid-template-columns: repeat(2, auto);
    }
  }