@reference "../../../globals.css";



.swiper {
    @apply w-[311px] h-[388px] rounded-[20px] md:w-[736px] md:h-[490px] lg:w-full lg:h-[856px];
}
div[class^="swiper-button"] {
    @apply hidden md:flex;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  background: #fff;
  opacity: 1;
  transition: width .35s ease-out;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #fff;
  width: 30px;
  border-radius: 99999999px;
}
div[id^="slide"] {
    background-position: center center;
    background-size: cover;
}
#slide1 {
    background-image: url('/images/slider1.jpg') ;
}
#slide2 {
    background-image: url('/images/slider2.png') ;;
}
#slide3 {
    background-image: url('/images/slider3.png') ;;
}

.swiper-slide {
    @apply flex-col text-[white] justify-start lg:items-start;
    >.hero-heading {
        @apply w-[282px] text-[24px] mt-[24px] text-left lg:mt-[88px] lg:ml-[88px] lg:w-[576px] lg:text-[40px];
    }
    >.hero-desc {
        @apply w-[282px] text-[10px] font-light text-left lg:w-[556px] lg:ml-[88px] lg:text-[16px] lg:font-semibold;
    }
}

@media screen and (max-width:768px) {
    #slide1 {
        background-position-x: 90%;
    }
}