@reference "../../../globals.css";

.item-button__quantity {
        @apply box-border grid grid-cols-3 justify-center items-center border-1 border-[var(--neutral-4)] rounded-[0.25rem] ;
        >p {
            @apply text-center;
        }
        >button {
            @apply text-[16px] transition-[all] duration-300 ease-in-out;
        }
        >button:active {
            @apply scale-[1.025]
        }
    }