@reference "../../globals.css";

.bundle_section {
    background-color: white;
    height: 662px;
    display: grid;
    grid-template-areas: 
    "livingroom bedroom"
    "livingroom kitchen";
    grid-template-columns: 548px 548px ;
    grid-template-rows: 319px 319px;
    gap: 24px;
    justify-content: center;
    padding-right: 128px;
    padding-left: 128px;
}

.text p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 34px;
    color: #31393B;
}

.text#one {
    display: block;
    width: fit-content;
    padding-left: 7%;
    padding-top: 7%;
}

.text#two, .text#three{
    display: block;
    width: fit-content;
    padding-left: 7%;
    padding-bottom: 7%;
}

a#shopnow, a#shopnow i {
    color: black;
}

div.img {
    display: block;
    width: fit-content;
}

.bedroom, .livingroom, .kitchen {
    min-width: 100%;
}

@media (max-width: 767px) {
    .bundle_section {
        justify-content: center;
        height: 769px;
        display: grid;
        grid-template-areas: 
        "livingroom"
        "bedroom"
        "kitchen";
        gap: 16px;
        grid-template-rows: 377px 180px 180px;
        grid-template-columns: 311px;
        margin: 0;
    }

    .text {
        display: block;
        padding-left: 7%;
        padding-top: 7%;
    }

    .text p {
        font-family: Poppins;
        font-weight: 500;
        font-size: 28px;
        color: #31393B;
    }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    .bundle_section {
        height: 441px;
        display: grid;
        grid-template-areas: 
        "livingroom bedroom"
        "livingroom kitchen";
        gap: 16px;
        grid-template-columns: 365px 365px ;
        grid-template-rows: 213px 213px;
        justify-content: center;
    }

    .text p {
        font-family: Poppins;
        font-weight: 500;
        font-size: 30px;
        color: #31393B;
    }

}