@reference "../../globals.css";

.test {
    background-color: #F3F5F7;
    font-size: 15px;
    color: black;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 40px;
}

header:not(.cart-header) {
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

header .scrolled {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: white; /* stays white but can be changed if wanted */
  }

#shopnow {
    color: rgb(21, 110, 170);
    text-decoration: underline;
}

a#shopnow:hover, a#shopnow:active {
    color: rgb(115, 199, 255);;
}

i {
    color: rgb(21, 110, 170);
    font-size: 13px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0% 12% 0%;
    font-family: var(--font-grotesk);
}

.logo {
    font-size: 25px;
    font-family: var(--font-poppins);
}

#icon_container {
    display: inline-flex;
    gap: 5px;
    color: black;
    align-items: center;
}

#icon {
    font-size: 30px;
}

#links_container {
    display: flex;
    justify-content: center;
    font-size: 15px;
    gap: 43px;
    color: rgb(123, 123, 123);
}

#links_container:hover, #links_container:active {
    color: black;
}

#menu_icon {
    display: none;
}
.cart-icon {
    @apply hover:cursor-pointer relative;
}

@media screen and (max-width: 768px) {
    .icon2 {
        display: none;
    }

    #icon_container {
        gap: 10px;
    }

    #links_container {
        display: none;
    }

    #shopnow {
        display: none;
    }

    #menu_icon {
        display: block;
        color: black;
        font-size: 16px;
    }
}

.item-icon {
    @apply absolute bg-[red] w-[10px] h-[10px] rounded-full top-0 right-0;
}