@reference "../../globals.css";

.test {
    background-color: #F3F5F7;
    font-size: 15px;
    color: black;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 40px;
}

header {
    padding: 0;
    width: 100%;
    
}

#shopnow {
    color: rgb(21, 110, 170);
    text-decoration: underline;
}

a#shopnow:hover, a#shopnow:active {
    color: rgb(115, 199, 255);;
}

i {
    color: rgb(21, 110, 170);
    font-size: 13px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0% 12% 0%;
    font-family: var(--font-grotesk);
}

.logo {
    font-size: 25px;
    font-family: var(--font-poppins);
}

#icon_container {
    display: inline-flex;
    gap: 20px;
    color: black;
}

#icon {
    font-size: 30px;
}

#links_container {
    display: flex;
    justify-content: center;
    font-size: 15px;
    gap: 43px;
    color: rgb(123, 123, 123);
}

#links_container:hover, #links_container:active {
    color: black;
}

#menu_icon {
    display: none;
}
.cart-icon {
    @apply hover:cursor-pointer;
}

@media screen and (max-width: 768px) {
    .icon2 {
        display: none;
    }

    #icon_container {
        gap: 10px;
    }

    #links_container {
        display: none;
    }

    #shopnow {
        display: none;
    }

    #menu_icon {
        display: block;
        color: black;
        font-size: 16px;
    }
}