/* ------------------------------
   BASE STYLING
------------------------------ */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #1a1a1a;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    min-height: 532px;
    background: #f4f6f8;
}

/* ------------------------------
   LEFT IMAGE
------------------------------ */
.hero-image {
    /*flex: 1;*/
    width: 720px;
    background-image: url('/images/background.jpeg');
    height: 532px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* ------------------------------
   RIGHT CONTENT
------------------------------ */
.hero-content {
    /*flex: 1;*/
    padding: 6rem 5.5rem;
    max-width: 600px;
}

.sale {
    color: #2d6aff;
    font-weight: bold;
    letter-spacing: .5px;
}

.title {
    font-size: 40px;
    font-weight: 500;
    font-family: Poppins;
    margin: 1rem 0;
    line-height: 1.2;
    color: #31393B;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 2.0rem;
    color: #31393B;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-inter);
}

#contactus {
    color: black;
    text-decoration: underline;
}

.hero-content i {
    color: black;
}

/* ------------------------------
   RESPONSIVE (MOBILE)
------------------------------ */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: left;
    }

    .hero-image {
        flex: 1;
        width: 100%;
        height: 100%;
    }

    .hero-content {
        width: 100%;
        padding: 2.5rem 1.5rem 4rem;
        text-align: center;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    #shopnow {
        display: block;
    }
}

.round {
    border-radius: 20px;
}